USE [master]
GO
/****** Object:  Database [ceng396]    Script Date: 31.05.2019 10:20:58 ******/
CREATE DATABASE [ceng396]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ceng396', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ceng396.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ceng396_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ceng396_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ceng396].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ceng396]
GO
USE [ceng396]
GO
/****** Object:  Table [dbo].[chat]    Script Date: 31.05.2019 10:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chat](
	[peer_id] [int] IDENTITY(1,1) NOT NULL,
	[status] [bit] NOT NULL,
	[time] [date] NOT NULL,
	[sender_id] [int] NULL,
	[receiver_id] [int] NULL,
	[sender_message] [varchar](255) NULL,
	[receiver_message] [varchar](255) NULL,
 CONSTRAINT [PK_chat] PRIMARY KEY CLUSTERED 
(
	[peer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[image]    Script Date: 31.05.2019 10:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[image](
	[image_id] [int] IDENTITY(1,1) NOT NULL,
	[item_id] [int] NOT NULL,
	[img] [image] NOT NULL,
 CONSTRAINT [PK_image] PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[item]    Script Date: 31.05.2019 10:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item](
	[item_id] [int] IDENTITY(1,1) NOT NULL,
	[seller_id] [int] NOT NULL,
	[title] [varchar](150) NOT NULL,
	[description] [varchar](255) NULL,
	[exchance] [bit] NULL,
	[item_type_id] [int] NOT NULL,
 CONSTRAINT [PK_item] PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[itemtype]    Script Date: 31.05.2019 10:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[itemtype](
	[item_typeid] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
 CONSTRAINT [PK_itemtype] PRIMARY KEY CLUSTERED 
(
	[item_typeid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 31.05.2019 10:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[fname] [varchar](50) NOT NULL,
	[lname] [varchar](50) NOT NULL,
	[school] [varchar](50) NOT NULL,
	[faculty] [varchar](50) NOT NULL,
	[major] [varchar](50) NOT NULL,
	[is_admin] [bit] NOT NULL,
	[profile_photo] [image] NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[chat]  WITH CHECK ADD  CONSTRAINT [FK_chat_user] FOREIGN KEY([sender_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[chat] CHECK CONSTRAINT [FK_chat_user]
GO
ALTER TABLE [dbo].[chat]  WITH CHECK ADD  CONSTRAINT [FK_chat_user1] FOREIGN KEY([receiver_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[chat] CHECK CONSTRAINT [FK_chat_user1]
GO
ALTER TABLE [dbo].[image]  WITH CHECK ADD  CONSTRAINT [FK_image_item] FOREIGN KEY([item_id])
REFERENCES [dbo].[item] ([item_id])
GO
ALTER TABLE [dbo].[image] CHECK CONSTRAINT [FK_image_item]
GO
ALTER TABLE [dbo].[item]  WITH CHECK ADD  CONSTRAINT [FK_item_itemtype] FOREIGN KEY([item_type_id])
REFERENCES [dbo].[itemtype] ([item_typeid])
GO
ALTER TABLE [dbo].[item] CHECK CONSTRAINT [FK_item_itemtype]
GO
ALTER TABLE [dbo].[item]  WITH CHECK ADD  CONSTRAINT [FK_item_user] FOREIGN KEY([seller_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[item] CHECK CONSTRAINT [FK_item_user]
GO
USE [master]
GO
